.star {
  background-color: #262c36;
  padding: 15px;
  border-radius: 100%;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.rating-button {
  background-color: #262c36;
  color: #747c88;
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  padding: 0;
}

.rating-button:hover {
  cursor: pointer;
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.rating-button-selected {
  background-color: #747c88;
  color: white;
  border-radius: 100%;
  border: none;
  width: 40px;
  height: 45px;
}

.submit-button {
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-weight: bold;
  margin-top: 20px;
  width: 100%;
  padding: 7.5px 0;
  border-radius: 16px;
}

.submit-button:hover {
  cursor: pointer;
  background-color: white;
  color: hsl(25, 97%, 53%);
}
