@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  display: flex;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
  align-items: center;
  background-color: hsl(216, 12%, 8%);
}

h1 {
  color: white;
  margin-top: 20px;
  margin-bottom: 0;
}

p {
  color: #747c88;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 0;
}

.container {
  max-width: 375px;
  background-color: #202731;
  width: 90%;
  border-radius: 5%;
}

.text-container {
  margin: 30px auto;
  width: 90%;
}
