.star {
  display: block;
  margin-top: 30px;
  margin-left: 20px;
  background-color: #262c36;
  padding: 10px;
  border-radius: 100%;
}

h1 {
  width: 90%;
  margin-left: 20px;
  margin-bottom: 0;
}

p {
  width: 90%;
  margin-left: 20px;
  margin-top: 10px;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.rating-button {
  background-color: #262c36;
  color: #747c88;
  border-radius: 100%;
  border: none;
  width: 40px;
  height: 45px;
}

.rating-button:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
}

.submit-button {
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-weight: bold;
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 90%;
  padding: 10px 0;
  border-radius: 16px;
}

.submit-button:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
}
