main {
  text-align: center;
}

.thank-you-rating {
  width: 60%;
  margin-inline: auto;
  padding: 10px 0;
  color: hsl(25, 97%, 53%);
  background-color: #262c36;
  border-radius: 16px;
}

.thank-you-img {
  display: block;
  margin: auto;
}
